Using pandas, you can read data from csv, excel, json, sql databases among others

In [1]:
import pandas as pd

In [5]:
#import the data in the csv file
olympicsDataFrame = pd.read_csv('/home/ajay/Desktop/Ex_Files_Pandas_EssT/ExerciseFiles/data/olympics.csv')

The skiprows=n parameter allows you to skip the first n rows of the csv table

In [7]:
#the shape attribute is useful for confirmimg the dimentions of your dataset
olympicsDataFrame.shape

(29216, 10)

The above output is (number_of_rows, number_of_columns)

In [8]:
numberOfRows= olympicsDataFrame.shape[0]

In [9]:
numberOfRows

29216

In [10]:
numberOfColumns= olympicsDataFrame.shape[1]

In [11]:
numberOfColumns

10

In [12]:
#The shape attribute returns a tuple
type(olympicsDataFrame.shape)

tuple

head() and tail() return the first and last N rows of the DataFrame

In [14]:
#By default n=5
olympicsDataFrame.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [15]:
olympicsDataFrame.tail()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,NaN,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,NaN,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,NaN,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [16]:
#to display first three rows
olympicsDataFrame.head(3)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze

In [18]:
#info provides the summary of a DataFrame including the number of enteries, the datatype, and the number of 
#non-null entries for each series in the DataFrame
olympicsDataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29216 entries, 0 to 29215
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          29213 non-null  object
 1   Edition       29216 non-null  int64
 2   Sport         29216 non-null  object
 3   Discipline    29216 non-null  object
 4   Athlete       29216 non-null  object
 5   NOC           29216 non-null  object
 6   Gender        29216 non-null  object
 7   Event         29216 non-null  object
 8   Event_gender  29216 non-null  object
 9   Medal         29216 non-null  object
dtypes: int64(1), object(9)
memory usage: 2.2+ MB