In [5]:
import pandas as pd
#alternatively, you do:
#import pandas
#pandas.<module>

In [3]:
#this shows the version of pandas and the versions of pandas dependencies
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : 2cb96529396d93b46abab7bbc73a208e708c642e
python           : 3.8.8.final.0
python-bits      : 64
OS               : Linux
OS-release       : 4.15.0-136-generic
Version          : #140-Ubuntu SMP Thu Jan 28 05:20:47 UTC 2021
machine          : x86_64
processor        : x86_64
byteorder        : little
LC_ALL           : None
LANG             : en_IN
LOCALE           : en_IN.ISO8859-1

pandas           : 1.2.4
numpy            : 1.20.1
pytz             : 2021.1
dateutil         : 2.8.1
pip              : 21.0.1
setuptools       : 52.0.0.post20210125
Cython           : 0.29.23
pytest           : 6.2.3
hypothesis       : None
sphinx           : 4.0.1
blosc            : None
feather          : None
xlsxwriter       : 1.3.8
lxml.etree       : 4.6.3
html5lib         : 1.1
pymysql          : None
psycopg2         : None
jinja2           : 2.11.3
IPython          : 7.22.0
pandas_datareader: None
bs4              : 4.9.3
bottleneck       : 1.3.2
fsspec           : 0.9.0
fastparquet      : None
gcsfs            : None
matplotlib       : 3.3.4
numexpr          : 2.7.3
odfpy            : None
openpyxl         : 3.0.7
pandas_gbq       : None
pyarrow          : None
pyxlsb           : None
s3fs             : None
scipy            : 1.6.2
sqlalchemy       : 1.4.15
tables           : 3.6.1
tabulate         : None
xarray           : None
xlrd             : 2.0.1
xlwt             : 1.3.0
numba            : 0.53.1

In [4]:
#gives just the pandas version
pd.__version__

'1.2.4'

To see the various pandas modules enter pd. and press tab. 
To autocomplete a method name press tab.

The common practice of documenting a code object at the head of its definition is captured by the addition of docstring syntax in the Python language.

The docstring for a Python code object (a module, class, or function) is the first statement of that code object, immediately following the definition (the 'def' or 'class' statement). The statement must be a bare string literal, not any other kind of expression. The docstring for the code object is available on that code object's __doc__ attribute and through the help function.

Pandas DataFrame is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of three principal components, the data, rows, and columns.

A series is a one-dimentional array of indexed data. Each row/column of the dataframe is a series. <br>
Accessing a single series:<br>
&emsp;&emsp;       DataFrame['SeriesName'] or <br>
&emsp;&emsp;       DataFrame["SeriesName"] <br>
        
Accessing multiple series:<br>
&emsp;&emsp;       DataFrame[['SeriesName1' , 'SeriesName2']]<br><br>

series can also be accessed using the dot operator. For example:<br>
&emsp; DataFrame.SeriesName<br>
Note that the SeriesName must not have any spaces.

type(DataFrame or Series object) will return whether the object passed is a DataFrame object or a Series object. If multiple series are passed then it will return type as DataFrame

In [13]:
olympicsDataFrame = pd.read_csv('/home/ajay/Desktop/Ex_Files_Pandas_EssT/ExerciseFiles/data/olympics.csv')

In [14]:
olympicsDataFrame.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [15]:
olympicsDataFrame['City']

0         Athens
1         Athens
2         Athens
3         Athens
4         Athens
          ...
29211    Beijing
29212    Beijing
29213        NaN
29214        NaN
29215        NaN
Name: City, Length: 29216, dtype: object

In [16]:
olympicsDataFrame.City

0         Athens
1         Athens
2         Athens
3         Athens
4         Athens
          ...
29211    Beijing
29212    Beijing
29213        NaN
29214        NaN
29215        NaN
Name: City, Length: 29216, dtype: object

In [17]:
type(olympicsDataFrame['City'])

pandas.core.series.Series

In [18]:
type(olympicsDataFrame.City)

pandas.core.series.Series

In [21]:
olympicsDataFrame[['Edition','City','Athlete','Medal']]

       Edition     City               Athlete   Medal
0         1896   Athens         HAJOS, Alfred    Gold
1         1896   Athens      HERSCHMANN, Otto  Silver
2         1896   Athens     DRIVAS, Dimitrios  Bronze
3         1896   Athens    MALOKINIS, Ioannis    Gold
4         1896   Athens    CHASAPIS, Spiridon  Silver
...        ...      ...                   ...     ...
29211     2008  Beijing        ENGLICH, Mirko  Silver
29212     2008  Beijing  MIZGAITIS, Mindaugas  Bronze
29213     2008      NaN       PATRIKEEV, Yuri  Bronze
29214     2008      NaN         LOPEZ, Mijain    Gold
29215     2008      NaN        BAROEV, Khasan  Silver

[29216 rows x 4 columns]

In [22]:
type(olympicsDataFrame[['Edition','City','Athlete','Medal']])

pandas.core.frame.DataFrame